<!DOCTYPE html>
<html>
<head>
<title>AI Interview</title>
		 <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/noscript.css') }}" /></noscript> 
</head>
	<body class="is-preload">
		<div id="wrapper">

			<!-- Header -->
		<header id="header">
			<div class="content">
				<div class="inner">
							<h1>My Page-Interview List </h1>
								<h2>My interview</h2>								
								<table>
									<thead>
										<tr>
											<th>&nbsp; NO.</th>
											<th>&nbsp;I D</td>
											<th>&nbsp;DATE</th>
											<th>&nbsp;Total Blink Count</th>
											<th>&nbsp;Quietness</th>
										</tr>
									</thead>
									<tbody>
										{% for i in data_list %}
										<tr>
											<td>{{i['NO']}}</td>
											<td>{{i['id']}}</td>
											<td>{{i['DATE']}}</td>
											<td>{{i['blinkcnt']}}</td>	
											<td>{{i['voiceleveltext']}}</td>																																
										</tr>
										{% endfor %}
									</tbody>
								</table>
							
							<br>
			</div>
			</div>
			</header>
						<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
						<p><a href="ai/login">LOGIN</a></p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
 		
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script> 


	</body>
</html>