@charset "EUC-KR";

#time {
  color: #f7958e;
  font-family: Arial;
  font-size: 40px;
  position: absolute;
  left: 10%;
  top: 50%;
  margin-left: -100px;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
#stopwatch {
  position: absolute;
  left: 10%;
  top: 45%;
  margin-left: -100px;
  border: 2px solid #f7958e;
  -webkit-border-radius: 200px;
}
#stop {
  position: absolute;
  left: 11%;
  margin-left: -30px;
  top: 60%;
  width: 40px;
}

#reset {
  position: absolute;
  left: 10%;
  margin-left: -30px;
  top: 76%;
  width: 40px;
}
