<!DOCTYPE html>
<html>
<head>
<title></title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/timer.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/audio.css') }}" />	 
	<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

<noscript><link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/noscript.css') }}" /></noscript>

	</head>
	<body class="is-preload">
	<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
				<header id="header">
					<div class="content">
						<div class="inner">
                            {% for question in data_questions%}
							<h1>{{question['questions']}}</h1>
                            {% endfor %}
						</div>
					</div>				
				</header>
			
				<div id="container" style="width: auto; height: 300px;">
					<img id="videoElement" src="{{ url_for('video_feed') }}"/>
				</div>
				
				<input type="button" id='aud' name="aud" onclick="aud()" style="opacity: 0.0">
				<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

				<script>
					jQuery(function(){
						jQuery('#aud').click();
					});
					
					function aud(){
						$.ajax({
						url: "/aud",
						context: document.body
						}).done();
					}
				</script>
			
				<!-- Timer -->
				<div id="time">60</div>
				<canvas id="stopwatch" width = 200 height = 200 onclick="stopwatch()"></canvas>
				<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		
						<script>
							jQuery(function(){
								jQuery('#stopwatch').click();
							});
							
							function stopwatch(){
								$.ajax({
									context: document.body
								}).done();
							}
		
						</script>
						<p id= "stop">STOP</p>
						<h3 id="reset">RESET</h3>
							
					
					
		
					<input type="button" value="RESULT" onclick="popup();" style="margin-top: 5px; float: left;">
					<input type="button" value="NEXT QUESTION" onclick="location.href='/questions'" style="margin-top: 10px;">
			
					<script>
						function popup(){
							window.open(
								"popup",
								"a",
								"width=400, height=300, left=100, top=50"
								)
							}

					</script>

<div id ="audio">
	<svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
			<mask id="mask">
				<g id="maskGroup">
			</g>
			</mask>
			<linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
				<stop offset="0%" style="stop-color:#ff0a0a;stop-opacity:1" />
				<stop offset="20%" style="stop-color:#f1ff0a;stop-opacity:1" />
				<stop offset="90%" style="stop-color:#d923b9;stop-opacity:1" />
				<stop offset="100%" style="stop-color:#050d61;stop-opacity:1" />
			</linearGradient>
		</defs>
		<rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#mask)"></rect>
	</svg>
</div>



				</div>
				
				
				
							
                <footer id="footer">
					<p><a href ="/">MAIN PAGE</p>
				</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/timer.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/audio.js') }}"></script>
			
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
				  
			<!-- Scripts -->
			<script
			  type="text/javascript"
			  src="{{ url_for('static', filename='script.js') }}"
			></script>
	</body>
</html>
