<!DOCTYPE html>
<html>
<head>
<title></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/timer.css') }}" />	-->
		<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/audio.css') }}" />	 
		<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

	<noscript><link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/noscript.css') }}" /></noscript>

	</head>
	<body class="is-preload">
	<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
				<header id="header" style="padding-bottom: 20px;">
					<div class="content" >
						<div class="inner">
							<h1>Introduce your self</h1>
						</div>
					</div>				
				</header>


				<div id="container" style="width: auto; height: 300px;">
					<img id="videoElement" src="{{ url_for('video_feed') }}"/>
				</div>
				
				<input type="button" id='aud' name="aud" onclick="aud()" style="opacity: 0.0">
				<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

				<script>
					jQuery(function(){
						jQuery('#aud').click();
					});
					
					function aud(){
						$.ajax({
						url: "/aud",
						context: document.body
						}).done();
					}
				</script>
			
				<!-- Timer -->
					<div class="setters">
					   <div class="minutes-set">
					    <button data-setter="minutes-plus">+</button>

					    <button data-setter="minutes-minus">-</button>
					  </div>
					  <div class="seconds-set">
					    <button data-setter="seconds-plus">+</button>
					    <button data-setter="seconds-minus">-</button>
					  </div>
					</div>
					

					<div class="controlls">
					  <div class="display-remain-time">00:60</div>
					  <button class="play" id="pause"></button>
					</div>
					
					
					
					<input type="button" value="RESULT" onclick="popup();" style="margin-top: 5px; float: left;">
					<input type="button" value="NEXT QUESTION" onclick="location.href='/questions'" style="margin-top: 10px;">
					<script>
						function popup(){
							window.open(
								"popup",
								"a",
								"width=400, height=300, left=100, top=50"
								)
							}

					</script>

<div id ="audio">
	<svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
			<mask id="mask">
				<g id="maskGroup">
			</g>
			</mask>
			<linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
				<stop offset="0%" style="stop-color:#ff0a0a;stop-opacity:1" />
				<stop offset="20%" style="stop-color:#f1ff0a;stop-opacity:1" />
				<stop offset="90%" style="stop-color:#d923b9;stop-opacity:1" />
				<stop offset="100%" style="stop-color:#050d61;stop-opacity:1" />
			</linearGradient>
		</defs>
		<rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#mask)"></rect>
	</svg>
</div>



				</div>
				
				
				
							
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
						<p><a href="ai/login">LOGIN</a></p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/timer.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/audio.js') }}"></script>
			
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
				  
			<!-- Scripts -->
			<script
			  type="text/javascript"
			  src="{{ url_for('static', filename='script.js') }}"
			></script>
	</body>
</html>
