<!DOCTYPE html>
<html>
<head>
<title>AI Interview</title>
		<title>AI interview</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>My Page </h1>
								
							</div>
						</div>
                        <nav>
							<ul>
								<li><a href="/interview">My interview</a></li>
								<li><a href="#account">My Account</a></li>
								<li><a href="#info"></a></li>
								<li><a href="#"></a></li>
							</ul>
						</nav>
					</header>
						
						</header>
						<div id="main">
						
							<article id="interview">
								<h2>My interview</h2>
								<br>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>NO.</th>
                                                <th>I D</td>
                                                <th>DATE</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {%for i in }

                                        </tbody>
                                    </table>
                                
                                <br>
							</article>
						
							<!-- 공지 -->
							<article id="account">
								<h2>My account</h2>
								<br>
                                <p>id</p>
                                <p>email</p>                            
                            </article>
						
						</div>
						
						
					
							
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
						<p><a href="ai/login">LOGIN</a></p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
					<!-- Scripts -->
		
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>


	</body>
</html>